body {
    font-family: 'Crimson Text', serif;
}

.header {
    background-color: rgb(17, 1, 37);
    padding: 40px 0;
}

.header .container {
    display: flex;
    justify-content: center;
}

.info-text {
    font-family: 'Source Code Pro', monospace;
    color: white;
    font-size: 3.5vw;
    position: relative;
    width: max-content;
    white-space: nowrap;
    font-weight: bold;
}

@media (max-width: 991px) {
    .info-text {
        font-size: 5vw;
    }
}

.info-text::before,
.info-text::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.info-text::before {
    background-color: rgb(17, 1, 37);
    animation: typewriter 7s steps(28) 1s infinite;
}

.info-text::after {
    width: 0.07em;
    background-color: white;
    animation: typewriter 7s steps(28) 1s infinite,
        blink 500ms steps(28) infinite;
}

@keyframes typewriter {
    0% {
        left: 0%;
    }

    72% {
        left: 100%;
    }

    100% {
        left: 100%;
    }
}

@keyframes blink {
    to {
        background: transparent;
    }
}

.glitch-text {
    /* text-shadow:
        0.1em 0 0 rgba(255, 0, 0, 0.75),
        -0.1em 0.05em 0 rgba(0, 255, 0, 0.75),
        0.1em 0.05em 0 rgba(0, 0, 255, 0.75); */

    /* animation: glitch 7s ease 1s infinite; */
}

.glitch-text span {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    animation: glitch 7s ease 1s infinite;
    /* animation-name: visible;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-delay: 1s; */
}

/* @keyframes visible {
    0% {
        visibility: hidden;
    }

    72% {
        visibility: hidden;
    }

    100% {
        visibility: visible;
    }
} */

.glitch-text span:first-child {
    /* animation: glitch 7s ease 1s infinite; */
    clip-path: polygon(0 0, 100% 0, 100% 45%, 0 60%);
    animation: shiftUpper 7s ease 1s infinite;
    opacity: 0.8;
}

.glitch-text span:last-child {
    /* animation: glitch 7s ease 1s infinite; */
    clip-path: polygon(0 60%, 100% 45%, 100% 100%, 0 100%);
    animation: shiftLower 7s ease 1s infinite;
    opacity: 0.8;
}

@keyframes shiftUpper {
    0% {
        transform: translate(0, 0);
        visibility: hidden;
    }

    72% {
        transform: translate(0, 0);
        visibility: hidden;
    }

    86% {
        transform: translate(-0.08em, -0.05em);
        visibility: visible;
    }

    100% {
        transform: translate(0.06em, 0.04em);
    }
}

@keyframes shiftLower {
    0% {
        transform: translate(0, 0);
        visibility: hidden;
    }

    72% {
        transform: translate(0, 0);
        visibility: hidden;
    }

    86% {
        transform: translate(0.08em, 0.05em);
        visibility: visible;
    }

    100% {
        transform: translate(-0.06em, -0.04em);
    }
}

@keyframes glitch {
    0% {
        text-shadow: none;
    }

    72% {
        text-shadow: none;
    }

    73% {
        text-shadow:
            0.05em 0 0 rgba(255, 0, 0, 0.75),
            -0.05em 0.05em 0 rgba(0, 255, 0, 0.75),
            0.05em 0.05em 0 rgba(0, 0, 255, 0.75);
    }

    84% {
        text-shadow:
            0.05em 0 0 rgba(255, 0, 0, 0.75),
            -0.05em 0.05em 0 rgba(0, 255, 0, 0.75),
            0.05em 0.05em 0 rgba(0, 0, 255, 0.75);
    }

    85% {
        text-shadow:
            -0.05em -0.05 0 rgba(255, 0, 0, 0.75),
            0.05em 0.05em 0 rgba(0, 255, 0, 0.75),
            -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
    }

    94% {
        text-shadow:
            -0.05em -0.05 0 rgba(255, 0, 0, 0.75),
            0.05em 0.05em 0 rgba(0, 255, 0, 0.75),
            -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
    }

    95% {
        text-shadow:
            0.05em 0.05em 0 rgba(255, 0, 0, 0.75),
            0.05em 0 0 rgba(0, 255, 0, 0.75),
            0 -0.05em 0 rgba(0, 0, 255, 0.75);
    }

    100% {
        text-shadow:
            0.05em 0.05em 0 rgba(255, 0, 0, 0.75),
            0.05em 0 0 rgba(0, 255, 0, 0.75),
            0 -0.05em 0 rgba(0, 0, 255, 0.75);
    }

    /* 0% {
        text-shadow:
            0.05em 0 0 rgba(255, 0, 0, 0.75),
            -0.05em 0.05em 0 rgba(0, 255, 0, 0.75),
            0.05em 0.05em 0 rgba(0, 0, 255, 0.75);
    }

    14% {
        text-shadow:
            0.05em 0 0 rgba(255, 0, 0, 0.75),
            -0.05em 0.05em 0 rgba(0, 255, 0, 0.75),
            0.05em 0.05em 0 rgba(0, 0, 255, 0.75);
    }

    15% {
        text-shadow:
            -0.05em -0.05 0 rgba(255, 0, 0, 0.75),
            0.05em 0.05em 0 rgba(0, 255, 0, 0.75),
            -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
    }

    49% {
        text-shadow:
            -0.05em -0.05 0 rgba(255, 0, 0, 0.75),
            0.05em 0.05em 0 rgba(0, 255, 0, 0.75),
            -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
    }

    50% {
        text-shadow:
            0.05em 0.05em 0 rgba(255, 0, 0, 0.75),
            0.05em 0 0 rgba(0, 255, 0, 0.75),
            0 -0.05em 0 rgba(0, 0, 255, 0.75);
    }

    99% {
        text-shadow:
            0.05em 0.05em 0 rgba(255, 0, 0, 0.75),
            0.05em 0 0 rgba(0, 255, 0, 0.75),
            0 -0.05em 0 rgba(0, 0, 255, 0.75);
    }

    100% {
        text-shadow:
            -0.05em 0 0 rgba(255, 0, 0, 0.75),
            -0.05em -0.05em 0 rgba(0, 255, 0, 0.75),
            -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
    } */
}


/* For animations set to off */
@media (prefers-reduced-motion: reduce) {

    *,
    ::before,
    ::after {
        animation-delay: -1ms !important;
        animation-duration: 1ms !important;
        animation-iteration-count: 1 !important;
        background-attachment: initial !important;
        scroll-behavior: auto !important;
        transition-duration: 0s !important;
        transition-delay: 0s !important;
    }
}
