body {
    font-family: 'Crimson Text', serif;
}

.header {
    background-color: rgb(17, 1, 37);
    padding: 40px 0;
}

.header .container {
    display: flex;
    justify-content: center;
}

.info-text {
    font-family: 'Source Code Pro', monospace;
    color: white;
    font-size: 3.5vw;
    position: relative;
    width: max-content;
    white-space: nowrap;
    font-weight: bold;
}

@media (max-width: 991px) {
    .info-text {
        font-size: 5vw;
    }
}

.info-text::before,
.info-text::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.info-text::before {
    background-color: rgb(17, 1, 37);
    animation: typewriter 9s steps(28) 1s infinite;
}

.info-text::after {
    width: 0.07em;
    background-color: white;
    animation: typewriter 9s steps(28) 1s infinite,
        blink 500ms steps(28) infinite,
        visible 9s 1s infinite;
}

@keyframes visible {
    0% {
        visibility: visible;
    }

    54% {
        visibility: visible;
    }

    55% {
        visibility: hidden;
    }

    100% {
        visibility: hidden;
    }
}

@keyframes typewriter {
    0% {
        left: 0%;
    }

    50% {
        left: 100%;
    }

    100% {
        left: 100%;
    }
}

@keyframes blink {
    to {
        background: transparent;
    }
}

.glitch-text {
    animation: glitch 9s ease 1s infinite;
}

.glitch-text span {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    animation: glitch 9s ease 1s infinite;
}

.glitch-text span:first-child {
    clip-path: polygon(0 0, 100% 0, 100% 45%, 0 60%);
    animation: shiftUpper 9s ease 1s infinite;
    opacity: 0.8;
}

.glitch-text span:last-child {
    clip-path: polygon(0 60%, 100% 45%, 100% 100%, 0 100%);
    animation: shiftLower 9s ease 1s infinite;
    opacity: 0.8;
}

@keyframes shiftUpper {
    0% {
        transform: translate(0, 0);
        visibility: hidden;
    }

    56% {
        transform: translate(0, 0);
        visibility: hidden;
    }

    67% {
        transform: translate(-0.08em, -0.02em);
        visibility: visible;
    }

    78% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes shiftLower {
    0% {
        transform: translate(0, 0);
        visibility: hidden;
    }

    56% {
        transform: translate(0, 0);
        visibility: hidden;
    }

    67% {
        transform: translate(0.08em, 0.02em);
        visibility: visible;
    }

    78% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes glitch {
    0% {
        text-shadow: none;
    }

    56% {
        text-shadow: none;
    }

    57% {
        text-shadow:
            0.05em 0 0 rgba(255, 0, 0, 0.75),
            -0.05em 0.05em 0 rgba(0, 255, 0, 0.75),
            0.05em 0.05em 0 rgba(0, 0, 255, 0.75);
    }

    64% {
        text-shadow:
            0.05em 0 0 rgba(255, 0, 0, 0.75),
            -0.05em 0.05em 0 rgba(0, 255, 0, 0.75),
            0.05em 0.05em 0 rgba(0, 0, 255, 0.75);
    }

    64.5% {
        text-shadow:
            -0.05em -0.05 0 rgba(255, 0, 0, 0.75),
            0.05em 0.05em 0 rgba(0, 255, 0, 0.75),
            -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
    }

    71% {
        text-shadow:
            -0.05em -0.05 0 rgba(255, 0, 0, 0.75),
            0.05em 0.05em 0 rgba(0, 255, 0, 0.75),
            -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
    }

    71.5% {
        text-shadow:
            0.05em 0.05em 0 rgba(255, 0, 0, 0.75),
            0.05em 0 0 rgba(0, 255, 0, 0.75),
            0 -0.05em 0 rgba(0, 0, 255, 0.75);
    }

    78% {
        text-shadow:
            0.05em 0.05em 0 rgba(255, 0, 0, 0.75),
            0.05em 0 0 rgba(0, 255, 0, 0.75),
            0 -0.05em 0 rgba(0, 0, 255, 0.75);
    }

    100% {
        text-shadow: none;
    }
}


/* For animations set to off */
@media (prefers-reduced-motion: reduce) {

    *,
    ::before,
    ::after {
        animation-delay: -1ms !important;
        animation-duration: 1ms !important;
        animation-iteration-count: 1 !important;
        background-attachment: initial !important;
        scroll-behavior: auto !important;
        transition-duration: 0s !important;
        transition-delay: 0s !important;
    }
}
